src/EventRegistration/Workflows/PowerPages-FlowCheck-B5966FBE-3028-F111-8341-000D3A36C81B.json
{
  "properties": {
    "connectionReferences": {
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedoffice365_84087"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "98934d21-469d-49a1-9d82-4dc8f99ba149"
          },
          "type": "Request",
          "kind": "PowerPages",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "Compose": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "d59e1ce5-7683-4d22-85b6-ab858d592454"
          },
          "type": "Compose",
          "inputs": "Hello World"
        },
        "Send_an_email_(V2)": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "afdd86de-5ff8-4696-b6b7-cbb80cc89bba"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365",
              "operationId": "SendEmailV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "emailMessage/To": "admin@CRM743718.onmicrosoft.com",
              "emailMessage/Subject": "Flow Check",
              "emailMessage/Body": "<p>@{outputs('Compose')}</p>",
              "emailMessage/Importance": "Normal"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Return_value(s)_to_Power_Pages": {
          "runAfter": {
            "Send_an_email_(V2)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ef324e10-fcca-4867-9a49-e841b7bdf94a"
          },
          "type": "Response",
          "kind": "PowerPages",
          "inputs": {
            "statusCode": 200,
            "body": {
              "output": "Mail sent"
            },
            "schema": {
              "type": "object",
              "properties": {
                "output": {
                  "title": "output",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}